In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Training Data/Diabetes_XTrain.csv')

In [3]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,7,168,88,42,321,38.2,0.787,40
1,8,110,76,0,0,27.8,0.237,58
2,7,147,76,0,0,39.4,0.257,43
3,2,100,66,20,90,32.9,0.867,28
4,4,129,86,20,270,35.1,0.231,23
...,...,...,...,...,...,...,...,...
571,2,111,60,0,0,26.2,0.343,23
572,7,187,68,39,304,37.7,0.254,41
573,2,122,60,18,106,29.8,0.717,22
574,4,154,72,29,126,31.3,0.338,37
575,1,88,78,29,76,32.0,0.365,29

In [78]:
df.reset_index()

,index,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,0,7,168,88,42,321,38.2,0.787,40
1,1,8,110,76,0,0,27.8,0.237,58
2,2,7,147,76,0,0,39.4,0.257,43
3,3,2,100,66,20,90,32.9,0.867,28
4,4,4,129,86,20,270,35.1,0.231,23
...,...,...,...,...,...,...,...,...,...
571,571,2,111,60,0,0,26.2,0.343,23
572,572,7,187,68,39,304,37.7,0.254,41
573,573,2,122,60,18,106,29.8,0.717,22
574,574,4,154,72,29,126,31.3,0.338,37
575,575,1,88,78,29,76,32.0,0.365,29

In [80]:
Y = pd.read_csv('Training Data/Diabetes_YTrain.csv')

In [81]:
fdf = df.reset_index().merge(Y.reset_index(), on='index')

In [82]:
fdf["Outcome"] = fdf["Outcome"].astype(int)

In [83]:
fdf[fdf["Outcome"] == 1]

,index,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,0,7,168,88,42,321,38.2,0.787,40,1
2,2,7,147,76,0,0,39.4,0.257,43,1
3,3,2,100,66,20,90,32.9,0.867,28,1
5,5,7,100,0,0,0,30.0,0.484,32,1
8,8,3,169,74,19,125,29.9,0.268,31,1
...,...,...,...,...,...,...,...,...,...,...
556,556,2,146,0,0,0,27.5,0.240,28,1
560,560,10,129,62,36,0,41.2,0.441,38,1
563,563,3,141,0,0,0,30.0,0.761,27,1
567,567,12,151,70,40,271,41.8,0.742,38,1
572,572,7,187,68,39,304,37.7,0.254,41,1

In [84]:
fdf[fdf["Outcome"] == 1].describe()

,index,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.0
mean,284.164179,4.726368,140.338308,70.820896,21.835821,97.318408,35.317910,0.564129,36.273632,1.0
std,165.361749,3.702668,31.228912,22.448781,17.342950,132.016545,7.628957,0.389129,11.142251,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.088000,21.000000,1.0
25%,145.000000,2.000000,118.000000,66.000000,0.000000,0.000000,30.900000,0.259000,27.000000,1.0
50%,277.000000,4.000000,137.000000,74.000000,26.000000,0.000000,34.300000,0.465000,34.000000,1.0
75%,421.000000,7.000000,166.000000,84.000000,36.000000,167.000000,39.200000,0.743000,43.000000,1.0
max,572.000000,17.000000,199.000000,114.000000,63.000000,600.000000,67.100000,2.420000,70.000000,1.0

In [97]:
fdf[fdf["DiabetesPedigreeFunction"] > .5]["Outcome"].value_counts()

0    117
1     96
Name: Outcome, dtype: int64

In [99]:
fdf[fdf["BloodPressure"] > 80]["Outcome"].value_counts()

0    69
1    61
Name: Outcome, dtype: int64

In [107]:
fdf[fdf["BMI"] > 51]

,index,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
201,201,3,123,100,35,240,57.3,0.880,22,0
217,217,0,180,78,63,14,59.4,2.420,25,1
309,309,0,129,110,46,130,67.1,0.319,26,1
386,386,5,115,98,0,0,52.9,0.209,28,1
422,422,0,162,76,56,100,53.2,0.759,25,1
423,423,1,88,30,42,99,55.0,0.496,26,1
499,499,11,135,0,0,0,52.3,0.578,40,1

In [110]:
fdf[fdf["Outcome"] == 1].sort_values(by=['Age'])

,index,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
108,108,1,113,64,35,0,33.6,0.543,21,1
511,511,2,118,80,0,0,42.9,0.693,21,1
496,496,0,177,60,29,478,34.6,1.072,21,1
553,553,0,151,90,46,0,42.1,0.371,21,1
442,442,0,131,66,40,0,34.3,0.196,22,1
...,...,...,...,...,...,...,...,...,...,...
389,389,4,146,92,0,0,31.2,0.539,61,1
91,91,6,190,92,0,0,35.5,0.278,66,1
387,387,2,158,90,0,0,31.6,0.805,66,1
230,230,4,146,78,0,0,38.5,0.520,67,1
409,409,4,145,82,18,0,32.5,0.235,70,1

In [112]:
fdf[fdf["Outcome"] == 0].sort_values(by=['SkinThickness'])

,index,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,1,8,110,76,0,0,27.8,0.237,58,0
507,507,1,135,54,0,0,26.7,0.687,62,0
187,187,4,128,70,0,0,34.3,0.303,24,0
195,195,6,166,74,0,0,26.6,0.304,66,0
199,199,5,117,92,0,0,34.1,0.337,38,0
...,...,...,...,...,...,...,...,...,...,...
140,140,2,100,70,52,57,40.5,0.677,25,0
390,390,1,86,66,52,65,41.3,0.917,29,0
481,481,0,147,85,54,0,42.8,0.375,24,0
411,411,13,106,72,54,0,36.6,0.178,45,0
104,104,0,100,88,60,110,46.8,0.962,31,0

In [ ]:
X = df

In [55]:
Y.reset_index(drop=True, inplace=True)

In [58]:
Y

     Outcome
0          1
1          0
2          1
3          1
4          0
..       ...
571        0
572        1
573        0
574        0
575        0

[576 rows x 1 columns]

In [59]:
#Dividing Data into Training and Testing data
from sklearn import model_selection
X_train,X_test,Y_train,Y_test = model_selection.train_test_split(X,Y.pop("Outcome"),test_size=0.20,random_state=42)

In [74]:
Y_train

437    0
63     1
208    1
60     0
15     0
      ..
71     1
106    0
270    0
435    0
102    0
Name: Outcome, Length: 460, dtype: int64

In [41]:
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
from sklearn.model_selection import cross_validate
from sklearn.metrics import classification_report, confusion_matrix
clf = RandomForestClassifier()
clf.fit(X_train, Y_train)
Y_pred = clf.predict(X_test)
print(classification_report(Y_test,Y_pred))
print('The accuracy of Random forrest classification is:',metrics.accuracy_score(Y_pred,Y_test)*100,'%')
print(confusion_matrix(Y_test,Y_pred))

              precision    recall  f1-score   support

           0       0.80      0.89      0.84        76
           1       0.74      0.57      0.65        40

    accuracy                           0.78       116
   macro avg       0.77      0.73      0.75       116
weighted avg       0.78      0.78      0.78       116

The accuracy of Random forrest classification is: 78.44827586206897 %
[[68  8]
 [17 23]]

In [61]:
#Predicting the outcome using Naive byes
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics
from sklearn.metrics import classification_report, confusion_matrix
clf = GaussianNB()
clf.fit(X_train, Y_train)
Y_pred = clf.predict(X_test)
# print(classification_report(Y_test,Y_pred))
print('The accuracy of Naive bayes is:',metrics.accuracy_score(Y_pred,Y_test)*100,'%')
# print(confusion_matrix(Y_test,Y_pred))

The accuracy of Naive bayes is: 73.27586206896551 %

In [66]:
from sklearn import metrics
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report, confusion_matrix
clf = DecisionTreeClassifier()
clf.fit(X_train, Y_train)
Y_pred = clf.predict(X_test)
# print(classification_report(Y_test,Y_pred))
# print(confusion_matrix(Y_test,Y_pred))
print('The accuracy of decision Tree is:',metrics.accuracy_score(Y_pred,Y_test)*100,'%')

The accuracy of decision Tree is: 72.41379310344827 %

In [118]:
from sklearn import linear_model
from sklearn import metrics
from sklearn.metrics import classification_report, confusion_matrix
clf =linear_model.LogisticRegression(max_iter=1000)
clf.fit(X_train, Y_train)
Y_pred = clf.predict(X_test)
# print(classification_report(Y_test,Y_pred))
print('The accuracy of Logistic Regression is:',metrics.accuracy_score(Y_pred,Y_test)*100,'%')
# print(confusion_matrix(Y_test,Y_pred))

The accuracy of Logistic Regression is: 80.17241379310344 %

In [72]:
# Create a LGBM model
from lightgbm import LGBMClassifier
clf = LGBMClassifier()
clf.fit(X_train, Y_train)
Y_pred = clf.predict(X_test)
# print(classification_report(Y_test,Y_pred))
print('The accuracy of Light GBM is:',metrics.accuracy_score(Y_pred,Y_test)*100,'%')
# print(confusion_matrix(Y_test,Y_pred))

The accuracy of Light GBM is: 68.96551724137932 %

In [73]:
Y_pred

array([1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0,
       1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 1, 1, 0, 0], dtype=int64)

In [116]:
Diabetes_Xtest = pd.read_csv('Test Cases/Diabetes_Xtest.csv')

In [117]:
Diabetes_Xtest

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,0,180,90,26,90,36.5,0.314,35
1,2,93,64,32,160,38.0,0.674,23
2,2,114,68,22,0,28.7,0.092,25
3,13,76,60,0,0,32.8,0.180,41
4,1,80,74,11,60,30.0,0.527,22
...,...,...,...,...,...,...,...,...
187,10,108,66,0,0,32.4,0.272,42
188,3,130,64,0,0,23.1,0.314,22
189,0,162,76,36,0,49.6,0.364,26
190,12,84,72,31,0,29.7,0.297,46
191,0,94,0,0,0,0.0,0.256,25

In [121]:
Diabetes_Xtest["Outcome"] = clf.predict(Diabetes_Xtest)

In [126]:
Diabetes_Xtest[Diabetes_Xtest["Outcome"] == 1]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,0,180,90,26,90,36.5,0.314,35,1
5,5,137,108,0,0,48.8,0.227,37,1
6,1,153,82,42,485,40.6,0.687,23,1
10,10,179,70,0,0,35.1,0.200,37,1
12,8,181,68,36,495,30.1,0.615,60,1
14,8,133,72,0,0,32.9,0.270,39,1
17,5,168,64,0,0,32.9,0.135,41,1
18,11,143,94,33,146,36.6,0.254,51,1
19,8,155,62,26,495,34.0,0.543,46,1
35,7,125,86,0,0,37.6,0.304,51,1
36,2,146,76,35,194,38.2,0.329,29,1
37,9,154,78,30,100,30.9,0.164,45,1
38,6,194,78,0,0,23.5,0.129,59,1
40,2,197,70,99,0,34.7,0.575,62,1
44,3,170,64,37,225,34.5,0.356,30,1
47,8,179,72,42,130,32.7,0.719,36,1
49,5,189,64,33,325,31.2,0.583,29,1
50,5,130,82,0,0,39.1,0.956,37,1
51,0,173,78,32,265,46.5,1.159,58,1
53,3,120,70,30,135,42.9,0.452,30,1
54,8,183,64,0,0,23.3,0.672,32,1
56,9,152,78,34,171,34.2,0.893,33,1
86,3,158,70,30,328,35.5,0.344,35,1
87,1,143,84,23,310,42.4,1.076,22,1
90,7,142,60,33,190,28.8,0.687,61,1
91,3,176,86,27,156,33.3,1.154,52,1
92,6,162,62,0,0,24.3,0.178,50,1
94,7,194,68,28,0,35.9,0.745,41,1
100,5,166,76,0,0,45.7,0.340,27,1
107,13,153,88,37,140,40.6,1.174,39,1
110,8,154,78,32,0,32.4,0.443,45,1
112,0,141,0,0,0,42.4,0.205,29,1
115,13,129,0,30,0,39.9,0.569,44,1
117,0,180,66,39,0,42.0,1.893,25,1
119,1,122,90,51,220,49.7,0.325,31,1
125,7,160,54,32,175,30.5,0.588,39,1
126,7,161,86,0,0,30.4,0.165,47,1
128,6,183,94,0,0,40.8,1.461,45,1
131,6,151,62,31,120,35.5,0.692,28,1
136,0,152,82,39,272,41.5,0.270,27,1
138,0,165,90,33,680,52.3,0.427,23,1
141,1,147,94,41,0,49.3,0.358,27,1
142,15,136,70,32,110,37.1,0.153,43,1
144,0,165,76,43,255,47.9,0.259,26,1
147,7,150,78,29,126,35.2,0.692,54,1
152,1,196,76,36,249,36.5,0.875,29,1
155,1,168,88,29,0,35.0,0.905,52,1
157,11,138,74,26,144,36.1,0.557,50,1
159,1,180,0,0,0,43.3,0.282,41,1
160,0,146,70,0,0,37.9,0.334,28,1
167,6,147,80,0,0,29.5,0.178,50,1
171,9,145,80,46,130,37.9,0.637,40,1
172,1,138,82,0,0,40.1,0.236,28,1
179,0,198,66,32,274,41.3,0.502,28,1
182,5,158,84,41,210,39.4,0.395,29,1
183,10,129,76,28,122,35.9,0.280,39,1
184,5,158,70,0,0,29.8,0.207,63,1
189,0,162,76,36,0,49.6,0.364,26,1

In [124]:
Diabetes_Xtest["Outcome"].value_counts()

0    134
1     58
Name: Outcome, dtype: int64

In [129]:
fdf[fdf["Outcome"] == 1].sort_values(by=['Glucose'])

,index,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
349,349,5,0,80,32,0,41.0,0.346,37,1
530,530,3,78,50,32,88,31.0,0.248,26,1
504,504,3,80,82,31,70,34.2,1.292,27,1
324,324,5,85,74,22,0,29.0,1.224,32,1
423,423,1,88,30,42,99,55.0,0.496,26,1
...,...,...,...,...,...,...,...,...,...,...
110,110,8,196,76,29,280,37.5,0.605,57,1
453,453,7,196,90,0,0,39.8,0.451,41,1
235,235,2,197,70,45,543,30.5,0.158,53,1
147,147,8,197,74,0,0,25.9,1.191,39,1
276,276,1,199,76,43,0,42.9,1.394,22,1

In [130]:
fdf[fdf["Outcome"] == 0].sort_values(by=['Glucose'])

,index,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
94,94,1,0,68,35,0,32.0,0.389,22,0
546,546,1,0,74,20,23,27.7,0.299,21,0
45,45,5,44,62,0,0,25.0,0.587,36,0
211,211,2,56,56,28,45,24.2,0.332,22,0
37,37,9,57,80,37,0,32.8,0.096,41,0
...,...,...,...,...,...,...,...,...,...,...
31,31,4,189,110,31,0,28.5,0.680,37,0
107,107,3,191,68,15,130,30.9,0.299,34,0
551,551,1,193,50,16,375,25.9,0.655,24,0
160,160,8,194,80,0,0,26.1,0.551,67,0
384,384,4,197,70,39,744,36.7,2.329,31,0